<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AlugApp</title>
    <link rel="icon" href="/img/casa.svg">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap" rel="stylesheet"> 

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/animations.css">
    <link rel="stylesheet" href="/css/page-landing.css">
</head>
<body>
    <div id="page-landing">
        <div id="container">
            <header>
                <h1 class="animation-up" id="logo">AlugApp</h1>
                
                <div class="location animation-up">
                    <strong>Luanda</strong>
                    <p>Talatona</p>
                </div>
            </header>
        
            <main>
                <h1 class="animation-up">Negocio fácil e seguro</h1>
        
                <section class="visit">
                    <p class="animation-up">Encontre estabelecimentos para arrendar ou comprar aqui</p>
        
                    <a class="animation-up" href="./rents" title="Procure por imobiliaria">
                        <i class="material-icons">arrow_forward</i>
                    </a>
                </section>
            </main>
        </div>
    </div>
</body>
</html>
